@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}
.wrap{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
	margin:0;	
	padding:0;
 
} 

.search {
  width: 100%;
  position: relative;
  top:25px;
  /* background-color: green; */
}

.searchTerm {
  /* width: 100%; */
  border: 3px solid #00B4CC;
  /* padding: 5px; */
  height: 25px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #84ad9a;
}

.searchButton {
  /* width: 40px; */
  /* padding: 5px; */
  height: 32px;
  border: 3px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 14px;
}


.cardlist{
  display: flex;
    /* justify-content: flex-start; */
  position: relative;
  top: 35px;
  background-color:lightblue;
 /* height: 800px; */
}

  /* .frame{
    display: flex;
    justify-content: flex-start;
  } */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 280px;
  height: 500px;
  /* margin: auto;   */
  background-color: lightgoldenrodyellow;
  display: inline-block;
  /* text-align: center; */
  font-family: arial;
  position: relative;
  /* top: 20px; */
  margin: 10px 10px;
  border-radius: 25px;
}


.content {
  color: grey;
  font-size: 11px;
  padding: 10px;
 
  /* font-weight: 900; */
}
p{
  text-align: justify;
}

/* image-container {
  background: white;
  width: 220px;
  height: 220px;
  padding: 5px;
  transform: translate(100px, 100px);
} */

.image-container img {
  object-fit: cover;
  width: 280px;
  height:  270px;
  margin-top: 20px;
  padding-left: 0px;
  /* border-radius: 50%; */
}

.heading, h2{
   font-family: 'Roboto';
   font-size: 30px;
  font-weight: 600;
  color: #00B4CC;
  background-color: black;
  width: 100%;
  position: relative;
  
}